.faqs-container {
  background-color: white;
  margin: 20px;
  padding-bottom: 20px;

  h2 {
    text-align: center;
    position: relative;
    top: 15px;
    display: table;
    justify-content: center;
    margin: 0 auto;
    background: #ffffff;
    padding: 0 10px;
  }
  .faqs-container-inner {
    box-shadow: 0px 0px 9px 2px #eeeeee;
    margin: 0 20px;
 
    box-sizing: border-box;
    height: 450px;
    overflow-y: auto;
    .question-container {
      ul {
        margin: 25px 20px;
        border: 1px solid #eeeeee;
        padding: 0;
        li {
          border-left: 4px solid #19aa8d;
          padding: 7px 15px;
          background-color: #faf9fb;
          span {
            font-weight: 600;
          }
        }
      }
    }
  }
}
