.Pahal-container{
    .card-widget-body{
        width: 96%;
        margin: 0 auto;

        .contribution-type{
            margin-top: 20px;
            &:after {
                margin: 5px 0;
        content: " ";
        border-bottom: 3px solid #1ab394;
        width: 50px;
        display: block;
              }
        }
        
        .cards-group{
            flex-wrap: wrap;
            column-gap: 1%;
            justify-content: unset;
            .drive,.event,.fundraiser{
                width: 32%;
                margin: 10px 0;
                padding: 20px;
                .star{
                    margin-left: 5px;
                    margin-right: unset;
                    font-size: 15px;
                    color: yellow;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
                    // color: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
                }
                .mailto{
                    
                    &:before{
                       content:"For More Details contact";
                       font-weight: 600;
                       margin-right: 7px;
                       color: $label-badge-color;

                    }
                }
                .mailto span:hover{
                    color: $navy;
                }
                .date{
                    &:before{
                       content:"On";
                       margin-right: 7px;
                       font-weight: 600;
                       color: $label-badge-color;

                    }
                }
                >div{
                   
                    margin-bottom:10px ;
                }
                h6{
                    color: $navy;
                    font-size: 18px;
                    margin-bottom: 20px ;
                }
                button{
                    margin-top: 20px;
                    width: unset;
                    text-align: right;
                    float: right;
                }
            }


        .drive{
          
            
            height: 310px;
        }
        .event{
          
            height: 310px;
            

        }
        .fundraiser{
          
            min-height: 400px;
            
            .goal{
                font-size: 15px;
                &:after {
                    content: "Goal";
                    display: block;
                    text-align: center;
                    font-weight: 600;
                       color: $label-badge-color;
                  }
            }
            .ends{

                &:before {
                    content: "Ends";
                    font-weight: 600;
                       margin-right: 7px;
                       color: $label-badge-color;
                  }
            }
            .raised{
                font-size: 15px;
                &:after {
                    content: "Raised";
                    display: block;
                    text-align: center;
                    font-weight: 600;
                       color: $label-badge-color;
                  }
            }
            .supporters{
                &:before {
                    content: "Supporters";
                    font-weight: 600;
                    margin-right: 7px;
                       color: $label-badge-color;
                  }
            }
        }
        
        

    }
    
    
}
}