.sidebar-menu-container {
  .sidebar-menu {
    .nav-header {
      img {
        border-radius: 50%;
        margin-left: 25px;
        margin-top: 33px;
      }
      .user-name {
        color: #DFE4ED;
        margin-left: 25px;
        font-size: 14px;
        margin-top: 5px;
      }
      height: 156px;
      background: url("../../assets/images/patterns/header-profile.png")
        no-repeat;
      a {
        color: #dfe4ed;
      }
    }
    .sidebar-menu-list {
      text-decoration: none;
      list-style: none;
      padding: 0;
      a{
        height: 50px;
        display: flex;
        column-gap: 7px;
        padding: 14px 20px;
        color: #a7b1c2;

      }
      a.active {
        color: #fff;
        border-left: 4px solid #19aa8d;
        background: #293846;
      }

      // a.active:before {
      //   display: block;
      //   left: 0;
      //   width: 5px;
      //   height: 100%;
      //   background-color: #19aa8d;
      //   content: "";
      //   position: absolute;
      // }
      span {
        // position: relative;
        // display: block;
        font-weight: 600;
        // padding: 14px 20px 14px 25px;
        // background-color: trans
      }
    }
  }
}
