.sidebar-menu-container {
  .sidebar-menu {
    .nav-header {
      p{color:#dfe4ed;
      margin: unset;}
      img {
        border-radius: 50%;
        margin-left: 25px;
        margin-top: 33px;
      }
      .dash-name {
        color: #fff;
        font-weight: 700;
        padding: 0 30px;
        margin: unset;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 136px;
      background: url("../../assets/images/patterns/header-profile.png")
        no-repeat;
        background-size: cover;
        
      a {
        color: #dfe4ed;
      }
    }
    .sidebar-menu-list {
      text-decoration: none;
      list-style: none;
      padding: 0;
      a{
        height: 50px;
        display: flex;
        column-gap: 7px;
        padding: 14px 20px;
        color: #a7b1c2;

      }
      a.active {
        color: #fff;
        border-left: 4px solid #19aa8d;
        background: #293846;
      }

      span {
        font-weight: 600;
      }
    }
  }
}
