
  .sidebar-menu-container {
    .sidebar-menu {
        .nav-header {
            background: url('../../assets/images/star.png') no-repeat;
            a {
                color: #DFE4ED;
              }
          }
      .sidebar-menu-list {
        text-decoration: none;
        list-style: none;
      }
    }
  }

