table {
    // border: 2px solid forestgreen;
    width: 100%;
    
    min-height: 100px;
  }
    
  th {
    border-bottom: 1px solid $border-color;
    text-align: center;
  }
    
  td {
    text-align: center;
    
  }